.suggestionArea{
    height: 500px;
    display: flex;
    text-align: start;
    font-size: small;
    flex-flow:column;
    margin:10px;
    padding:10px;
    position: absolute;
    overflow-y: auto;
    background-color: white;
    width:400px;
    color:black;
}