.SideDrawerMobile{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 200;
    background-color:white;
    padding : 32px 16px;
    box-sizing: border-box;
    transition:transform 0.2s ease-out;
}
@media(min-width:500px){
    .SideDrawerMobile{
        display:none;
    }
}
.Open{
    transform: translateX(0);
}
.Close{
    transform:translateX(-100%);
}


ul{
    list-style: none;
}
ul p{
    padding:16px;
    box-sizing: border-box;
    display: block;
    color: #212121;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
}
ul p:hover{
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 20px 0px 0px 20px;
    background-color: #ecf0f1;
}
ul p.active{
    color: #3498db;
    border-radius: 20px 0px 0px 20px;
    border-right: 10px solid #3498db;
    background-color: #ecf0f1;
}