.SideBar{
    left: 0;
    top: 0;
    position: fixed;
    width: 20%;
    height: 100%;
    color: #282c34;
    display: flex;
    flex-flow: column;
    text-align: start;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.SideBar ul{
    list-style: none;
}
.SideBar ul p{
    padding:16px;
    box-sizing: border-box;
    display: block;
    color: #212121;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
}
.SideBar ul p:hover{
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 20px 0px 0px 20px;
    background-color: #ecf0f1;
}
.SideBar ul p.active{
    color: #3498db;
    border-radius: 20px 0px 0px 20px;
    border-right: 10px solid #3498db;
    background-color: #ecf0f1;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .SideBar{
        opacity: 0;
        display: none;
        pointer-events: none;
    }

}

 /*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (max-width: 769px) {
    .SideBar{
        opacity: 0;
        display: none;
        pointer-events: none;
    }
}
